<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <script src="../assets/js/bootstrap.js"></script>
</head>


<body class="bg-body-tertiary">

<div th:replace="~{/fragments/navbar :: navbar}"></div>

<div class="container" style="margin-top: 200px; width: 300px;">
    <form action="/member/login" method="POST">
        <img class="mb-4" src="../assets/brand/santa.avif" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="id" name="loginId" class="form-control" id="floatingInput" placeholder="">
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <p th:if="${loginStatus == 0}" style="color:red">ID나 비밀번호를 정확히 입력해 주세요.</p>

        <div style="text-align: right">
            <a th:href="@{/member/join}">회원가입</a>
            <a th:href="@{/member/findPassword}">비밀번호를 잊으셨나요?</a>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</div>

<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>