<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    div {
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <script src="../assets/js/bootstrap.js"></script>
</head>

<body class="bg-body-tertiary">
<div th:replace="~{/fragments/navbar :: navbar}"></div>

<div class="container" style="margin-top: 200px; width: 400px;">
  <form action="/member/setNewPassword" method="POST" th:object="${memberRequestDto}">
    <img class="mb-4" src="../assets/brand/santa.avif" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">비밀번호 재설정</h1>

    <div class="form-floating">
      <input type="password" th:field="*{password}" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">비밀번호</label>
      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></p>
    </div>

    <div class="form-floating">
      <input type="password" th:field="*{password_confirm}" class="form-control" id="floatingPassword2" placeholder="Password">
      <label for="floatingPassword">비밀번호 확인</label>
      <p th:if="${#fields.hasErrors('password_confirm')}" th:errors="*{password_confirm}" style="color: red"></p>
      <p th:if="${passwordConfirm == 0}" style="color:red">비밀번호가 일치하지 않습니다.</p>
    </div>

    <input type="hidden" th:field="*{storedEmailAddress}">

    <button class="w-100 btn btn-lg btn-primary" type="submit" style="margin-top: 10px;">비밀번호 변경</button>
  </form>
</div>>
</body>
</html>
