<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="../assets/css/bootstrap.css">
<script src="../assets/js/bootstrap.js"></script>

<nav th:fragment="navbar_admin" class="navbar" style="background-color: #e5c7ca;">
    <!-- Navbar content -->
    <div style="flex-direction: row; ">
    <span>
        <a th:href="@{/board}">
            <img class="mb-4" th:src="@{/assets/brand/parrot.png}" width="60" height="60" style="margin: 20px 0px 0px 50px;"/>
        </a>
    </span>
        <span style="margin: 0px 20px 0px 20px;"></span>
    <span style="display: inline-block; text-align: left">
  <a th:href="@{/admin}"
     style="text-decoration-line: none; font-size: x-large; color: white; margin: 0px 10px 0px 20px;">회원관리</a>
  <a th:href="@{/admin/board}"
     style="text-decoration-line: none; font-size: x-large; color: white; margin-right: 10px;">게시글 관리</a>
  <a th:href="@{/admin/comments}"
     style="text-decoration-line: none; font-size: x-large; color: white; margin-right: 10px;">댓글 관리</a>
  </span>
    </div>
    <span class="d-flex justify-content-end" style="margin: 0px 30px 0px 30px;">
    <a class="btn btn-outline-light" th:if="${login} == 0" th:href="@{/member/login}" th:text="로그인"></a>
    <a class="btn btn-outline-light" style="margin-right: 3px;" th:if="${login} == 1" th:href="@{/member/mypage}"
       th:text="마이페이지"></a>
    <a class="btn btn-outline-light" th:if="${login} == 1" th:href="@{/member/logout}" th:text="로그아웃"></a>
  </span>
</nav>

</html>

